body {
    font-family: "Yu Gothic Medium", sans-serif;
    font-size: 18px;
    color: #a62929;
}

.contents {
    max-width: 600px;
    margin: 200px auto 100px;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: justify;
}

.contents h1 {
    color: black;
}

.contents-nopalt {
    max-width: 600px;
    margin: 100px auto;
    letter-spacing: 0.1em;
    line-height: 3;
}

.contents-nopalt h1 {
    color: #CCCCCC;
}

.contents-serif {
    max-width: 600px;
    margin: 100px auto;
    font-family: "游明朝体", "Yu Mincho", Yu Mincho, serif;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: justify;
}

.contents-serif h1 {
    color: #CCCCCC;
}

.contents-google {
    max-width: 600px;
    margin: 200px auto 100px;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: justify;
}

.contents-google h1 {
    color: black;
}


/*

下の２つの見出しへそれぞれの色を適用してください。

游ゴシック　palt有り ＃000000

游ゴシック　palt無し #CCCCCC

*/